@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@



@*@using OnlineUser.Helper*@
@{
    //var User = (WideHorizons.process.UserOnLine)Session["User"];
    var theme = (Session["theme"] == null) ? "theme-red" : Session["theme"].ToString();
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    bool en = false;
    bool ar = false;
    if (culture == "en-us")
    {
        en = true;
    }

    if (culture == "ar")
    {
        ar = true;
    }
    //User.ImageProfile();
    //string SrcImageProfile = (!String.IsNullOrWhiteSpace(User.UserImagePath)) ? User.UserImagePath : "user.jpg";
    //string SrcImageProfile = User.UserImagePath;

}

<!DOCTYPE html>
<html>
<head>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Wide Horizoins</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    @*    <link href="~/plugins/Google/css.css" rel="stylesheet" />
        <link href="~/plugins/Google/icon.css" rel="stylesheet" />*@
    <!-- Bootstrap Core Css -->

    <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="~/plugins/node-waves/waves.css" rel="stylesheet" />


    @RenderSection("StyleDatatable", false)
    <!-- Animation Css -->
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Dropzone Css -->
    <link href="~/plugins/dropzone/dropzone.css" rel="stylesheet" />

    <!-- Light Gallery Plugin Css -->
    <link href="~/plugins/light-gallery/css/lightgallery.css" rel="stylesheet" />

    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="~/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />

    <!-- Sweet Alert Css -->
    <link href="~/plugins/sweetalert/sweetalert.css" rel="stylesheet" />

    <!-- Bootstrap Select Css -->
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/css/themes/all-themes.css" rel="stylesheet" />



    <style type="text/css">
        /*.theme-red .navbar {
            background-color: #31436b;
        }
                .sidebar .user-info{
                    background-image:url(./images/logo.png);
                    background-color: #fff;
                }*/
    </style>
</head>
<body class="@theme">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
           

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li class="pull-right">
                        <a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
          
            @*<div class="menu">
                @Html.Partial("_Main", User)
            </div>*@ 
            <div class="legal">
                <div class="copyright"> 
                    <a href="#" target="_blank"></a>
                </div>
            </div> 
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        @*<aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
                <li role="presentation"><a href="#skins" data-toggle="tab">SKINS</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active in active" id="settings">
                    <div class="demo-settings">

                         

                    </div>
                </div>


              


            </div>
        </aside>*@
        <!-- #END# Right Sidebar -->

    </section>

    <section class="content">
        <!-- This Div Take Them in any view   -->
        <div id="DivBody" class="container-fluid">

            @RenderBody()
        </div>
    </section>
    <!-- Jquery Core Js -->
    <script type="text/javascript" src="~/plugins/jquery/jquery.min.js"></script>

    <!-- Translate -->
    <script src="~/Scripts/respond.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>



    <!-- Bootstrap Core Js -->
    <script type="text/javascript" src="~/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script type="text/javascript" src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script type="text/javascript" src="~/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Bootstrap Notify Plugin Js -->
    <script src="~/plugins/bootstrap-notify/bootstrap-notify.js"></script>

    <!-- Dropzone Plugin Js -->
    <script type="text/javascript" src="~/plugins/dropzone/dropzone.js"></script>

    <!-- Jquery Validation Plugin Css -->
    <script type="text/javascript" src="~/plugins/jquery-validation/jquery.validate.js"></script>

    <!-- JQuery Steps Plugin Js -->
    <script type="text/javascript" src="~/plugins/jquery-steps/jquery.steps.js"></script>

    <!-- Sweet Alert Plugin Js -->
    <script type="text/javascript" src="~/plugins/sweetalert/sweetalert.min.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script type="text/javascript" src="~/plugins/node-waves/waves.js"></script>
    <!-- Light Gallery Plugin Js -->
    <script src="~/plugins/light-gallery/js/lightgallery-all.min.js"></script>

    <!-- Moment Plugin Js -->
    <script type="text/javascript" src="~/plugins/momentjs/moment.js"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script type="text/javascript" src="~/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

    <!-- TinyMCE -->
    <script type="text/javascript" src="~/plugins/tinymce/tinymce.js"></script>

    <!-- Light Gallery Plugin Js -->
    <script src="~/plugins/light-gallery/js/lightgallery-all.js"></script>

    <!-- Custom Js -->
    <script type="text/javascript" src="~/js/admin.js"></script>
    <!-- Demo Js -->
    <script type="text/javascript" src="~/js/demo.js"></script>
    <script type="text/javascript" src="~/js/form-validation.js"></script>
    <script type="text/javascript" src="~/js/notifications.js"></script>
    <script type="text/javascript" src="~/js/dialogs.js"></script>
    <script type="text/javascript" src="~/js/demo.js"></script>
    @RenderSection("ScriptDatatable", false)

</body>
</html>

